@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: hsl(0, 5%, 73%);
    width: 50px;
}

nav i {
    padding: 50% 33%;
}